HOST=0.0.0.0
PORT=8080
UPDATE_INTERVAL=300
ADMIN_PASSWORD=CHANGE_THIS_TO_A_LONG_RANDOM_PASSWORD
SESSION_TTL=1800
TRADING_MODE=paper
LIVE_TRADING_ENABLED=false
MAX_ORDER_KRW=100000
MAX_DAILY_LOSS_KRW=50000
LIVE_ARM_PHRASE=
